/* CSS for GamesXBlock */

.title {
    color: blue;
}

.timer_bool, .shuffle_bool{
    cursor: pointer;
    border: 1px solid #888;
    padding: 0 .5em;
}

.flashcard {
    cursor: pointer;
    border: 1px solid #888;
    padding: 0 .5em;
}

/* style for true vs false? */